<table class="table">
	<tr>
		<th>To</th>
		<th>Message</th>
		<th>Sent On</th>
	</tr>
	<% @messages.each do |msg| %>
		<tr>
			<td><%= msg.to %> </td>
			<td><%= msg.body %> </td>
			<td><%= msg.created_at %> </td>
		</tr>
	<% end %>
	</table>